:root {
  font-family: "Varela Round", system-ui, sans-serif; /* Google Font */
  --medium: #ff69cd;
  --light: #ffdaf3;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 600px;
  margin: 0.5em auto;
  display: grid;
  gap: 0.5em;
}

@media(max-width: 600px) {
  body {
    width: 100vw;
  }

  canvas {
    width: 100vw;
    height: 100vw;
  }
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 300%;
  color: var(--medium);
}

button {
  padding: 1em;
  border-radius: 1em;
  background-color: var(--medium);
  border-color: var(--light);
  color: black;
}

button:hover {
  border-color: var(--medium);
  background-color: var(--light);
}

canvas {
  border: 3px solid var(--medium);
  width: 600px;
  height: 600px;
}

#steering::after {
  content: "Use left/right arrows";
}

@media(hover: none) {
  #steering::after {
    content: 'Tap left/right';
  }
}
