:root {
  box-sizing: border-box;
  font-family: "Varela Round", system-ui, sans-serif; /* Google Font */
  --medium: #ff69cd;
  --light: #ffdaf3;
}

header {
  width: 600px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 300%;
  color: var(--medium)
}

button {
  padding: 1em;
  border-radius: 1em;
  background-color: var(--medium);
  border-color: var(--light);
}

button:hover {
  border-color: var(--medium);
  background-color: var(--light);
}

div:has(canvas) {
  display: flex;
  justify-content: center;
}

canvas {
  border: 3px solid var(--medium);
  width: 600px;
  height: 600px;
}